@page "/about"

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="text-center mb-4">
                <h1 class="display-4">About Me</h1>
                <p class="lead text-muted">Software Developer</p>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <img src="https://picsum.photos/200" class="img-fluid rounded-circle mb-3" alt="Kyaw Zin Htet">
                            <h4>Kyaw Zin Htet</h4>
                            <p class="text-muted">From Myanmar</p>
                        </div>
                        <div class="col-md-8">
                            <h3>Hello!</h3>
                            <p>
                                I am a passionate Software Developer with a strong foundation in building modern web applications. I enjoy turning complex problems into simple, beautiful, and intuitive designs.
                            </p>
                            <p>
                                This website is my personal portfolio where I showcase my projects and skills. I am currently looking for new opportunities to apply my expertise and continue growing as a developer.
                            </p>
                            <p>
                                Feel free to browse through my work and get in touch if you would like to collaborate or have any questions.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
